# # Python
# __pycache__/
# *.pyc
# db.sqlite3
# .env
# venv/

# # Django
# staticfiles/

# # Node
# node_modules/
# build/

# # OS
# .DS_Store
# Thumbs.db

# # Frontend
# frontend/node_modules/
# frontend/build/



# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
.env
*.log
media/

# Virtual environment
venv/
.env/

# Node / React
node_modules/
build/
dist/

# OS files
.DS_Store

# IDE
.vscode/
.idea/