# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
.env
*.log
media/

# Virtual environment
venv/
.env/

# Node / React
node_modules/
build/
dist/

# OS files
.DS_Store

# IDE
.vscode/
.idea/