/* DASHBOARD CARDS */

.dashboard-cards {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.dashboard-cards .card {
  flex: 1;
  min-width: 250px;
}

.blue {
  background: linear-gradient(135deg, #3b82f6, #1e40af);
}

.purple {
  background: linear-gradient(135deg, #8b5cf6, #6d28d9);
}

.green {
  background: linear-gradient(135deg, #10b981, #047857);
}

.card p {
  font-size: 32px;
  margin-top: 10px;
}